.homecontainer {
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.tables {
	-webkit-box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.75);
	padding: 10px;
	flex: 1;
	height: 50%;
	border-radius: 10px;
}
.tiles {
	-webkit-box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.75);
	padding: 10px;
	flex: 1;
	height: 50%;
	border-radius: 10px;
}
